@import '../../../../assets/global_var/global_var.scss';

.productsItemCard{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    gap: 30px 0;
    align-items: center;
    background-color: #ffffffa4;
    // border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding-bottom: 10px;
    .collect{
        display: none;
    }
    .id{
        display: none;
    }
    .iCode{
        display: none;
    }
    .category{
        display: none;
    }
    img{
        width: 100%;
    }
    .title{
        font-size: 25px;
        font-weight: 900;
    }
    .price{
        font-size: 20px;
        font-weight: 900;
        color: orange;
    }
    // button{
    //     background-color: transparent;
    // }
    // button:hover{
    //     color: $accent-color;
    // }
}
.productsItemCard:hover{
    border-bottom: 3px solid $accent-color;
}