@import '../../../../assets/global_var/global_var.scss';

.productsItemCard{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px 0;
    align-items: center;
    background: transparent;
    cursor: pointer;
    .collect{
        display: none;
    }
    .id{
        display: none;
    }
    .iCode{
        display: none;
    }
    .category{
        display: none;
    }
    img{
        width: 95%;
    }
    img:hover{
        border-bottom: 4px solid $accent-color;
    }
}