@import '../../../assets/global_var/global_var.scss';

.catalog__item{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: #20232812;
    gap: 50px 100px;
    padding: 5% 7%;
    .testItem{
        width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px 0;
        h2{
            color: black;

        }
        img{
            width: 100%;
        }
        button{
            background: black;
            color: #fff;
        }
    }
}