
.aboutUs{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10% 0;
    .aboutUs__item{
        display: flex;
        p{
            color:#333;
        }
        h4{
            color: #F4E344;
        }
        .aboutUs__img{
            width: 50vw;
            height: 90vh;
            position: relative;
            overflow: hidden;
            .main__img{
                width: 37vw;
                height: auto;
                position: relative;
                top: 15px;
                left: 15px;
                z-index: 101;
            }
            .topbox{
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 40%;
                height: 50%;
                background: #2023289f;
            }
            .swipebox{
                width: 30%;
                height: 10%;
                z-index: 1001;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0 10%;
                bottom: 100px;
                left: 53%;
                background:  #2023289f;
                text-transform: uppercase;
                p{
                    color: #fff;
                }
            }
            
        }
        .aboutUs__info{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 100px 0;
            width: 50%;
            h3{
                color: #333;
            }
            .info__title{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px 0;
                p{
                    line-height: 150%;
                }
            }
            .info__item{
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 100px 0;
                flex-wrap: wrap;
                .item{
                    width: 350px;
                    display: flex;
                    flex-direction: column;
                    height: 250px;
                    justify-content: space-between;
                    gap: 20px 0;
                    .item__title{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h4{
                            color: #F4E344;
                        }
                        svg{
                            width: 30px;
                        }
                    }
                    .item__text{
                        display: flex;
                        justify-content: space-between;
                        p{
                            line-height: 150%;
                        }
                    }
                    .item__btn{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}