// Fonts raleway
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
// Fonts roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


$font-raleway:'Raleway', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Accent color
$accent-color: #F4E344;
// Text color
$text-color: #333333;
// Dark color
$dark-color: #202328;
// Deep color
$deep-color: #171A1A;

*{
    margin: 0;
    padding: 0;
}

.page__wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.container{
    width: 90%;
    margin: 0 auto;
}

a{
    font-family: $font-raleway;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #000000;
    text-decoration: none;
}

h1{
    font-family: $font-raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 115px;
    line-height: 0px;
    color: #FFFFFF;
}
h2{
    font-family: $font-raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 0px;
    color: #000000;
}
h3{
    font-family: $font-raleway;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    color: #FFFFFF;
}
h4{
    font-family: $font-raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    color: #FFFFFF;
}
p{
    font-family: $font-raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: #FFFFFF;
}
button{
    width: 288px;
    height: 58px;
    background: $accent-color;
    border-radius: 0px 7px;
    color: $text-color;
    font-weight: 700;
    font-size: 14px;
    font-family: $font-raleway;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
button:hover{
    border-radius: 0;
    transition: ease-in-out 0.5s;
    width: 300px;
    font-size: 15px;
}