@import '../../../assets/global_var/global_var.scss';
.nav{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
    padding: 0 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        .nav__logo{
            width: auto;
            height: 100%;
            display: flex;
            justify-content: center;
            .logo__item{
                display: flex;
                width: 109px;
                cursor: pointer;
            }
        
        }
        .nav__links{
            width: 60%;
            ul{
                display: flex;
                text-align: center;
                justify-content: center;
                gap: 44px;
                a{
                    box-sizing: border-box;
                    padding: 1% 2%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    border-radius: 0px 5px;
                    font-weight: bold;
                    text-wrap: nowrap;
                }
            }
            a:hover{
                border: none;
                background: rgba(0, 0, 0, 0.3);
            }
        }
        .nav__social{
            width: 110px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
            background: rgba(0, 0, 0, 0.25);
            border-radius: 70px;
            img{
                width: 24px;
            }
        }
}