@import '../../../assets/global_var/global_var.scss';

.prodNav{
    width: 350px;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    &__links{
        width: 80%;
        height: 100%;
        gap: 30px 0;
        position: sticky;
        top: 0;
        .links{
            width: 100%;
            display: flex;
            flex-direction: column;
            // align-items: center;
            padding: 1% 25%;
            gap: 10px 0;
            h2{
                text-transform: uppercase;
                font-weight: 900;
                padding: 30px 0;
            }
        }
    }
}