@import '../../../assets/global_var/global_var.scss';

.prodNav{
    width: 350px;
    height: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #202328;
    &__links{
        width: 80%;
        height: auto;
        gap: 30px 0;
        button{
            height: 3vh;
            width: auto;
            background-color: transparent;
            border: transparent;
            text-align: left;
            color: #fff;
        }
        button:hover{
            width: auto;
            color: $accent-color;
        }
        .links{
            width: 100%;
            display: flex;
            flex-direction: column;
            // align-items: center;
            padding: 1% 25%;
            gap: 10px 0;
            h2{
                color: $accent-color;
                text-transform: uppercase;
                font-weight: 900;
                padding: 30px 0;
            }
        }
    }
}
.catalog__item{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #20232812;
    gap: 50px 20px;
    padding: 3% 3%;
    // .testItem{
    //     width: 350px;
    //     height: auto;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     gap: 20px 0;
    //     h2{
    //         color: black;

    //     }
    //     img{
    //         width: 100%;
    //     }
    //     button{
    //         background: black;
    //         color: #fff;
    //     }
    // }
    .itemCardProd{
        width: 30%;
    }
}